.flex-container{
    text-align:center;
    color: white;
    font-family: "Verdana", Times, serif;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

h1{
    border: 3px solid;
    border-radius: 0px 0px 30px 30px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 2vh;
    text-align: center;
    font-size: 3vh;
    margin: 1vh;
    cursor: pointer;
    border-radius: 5vh 5vh 5vh 5vh;
    }